body {
  background-color: #6C7988;
  margin: 0;
  font-family: "Open Sans";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #242D38;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  display: flex;
  width: 100%;
}

.dropdown {
  margin-left: auto;
}

#icon_logo {
  padding: 16px 0 0 24px;
}

#icon_logo a:hover {
  opacity: 50%;
}

#header_menu_classes a {
  color: #ffffff;
}

.header_menu a {
  display: inline-block;
  color: #A1A9B5;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  padding: 16px 0 16px 16px;
}

.header_menu a:hover {
  color: #FFFFFF;
}

.dropbutton {
  display: inline-block;
  cursor: pointer;
  padding: 16px 16px 16px;
  line-height: 20px;
  color: #A1A9B5;
  text-align: right;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
}

#icon_arrow {
   margin-left: 8px;
}

.dropdown:hover .dropbutton {
  color: #ffffff;
 }

.dropdown-content {
  display: none;
  position: absolute;
  right: 12px;
  top: 42px;
  background-color: #ffffff;
  border-radius: 3px;
  width: 160px;
  height: 90px;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  text-align: left;
  display: block;
  margin: 0 8px 0 8px;
  padding: 2px 8px 4px 8px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

#drop1 {
  color: #242D38;
  background-color: #EEEEEE;
  border-radius: 3px;
  margin-top: 7px;
}

#drop2, #drop3 {
  color: #6C7988;
}

/*For hoverable dropdown menu*/
/*.dropdown:hover .dropdown-content {
  display: block;
}*/

/*For clickable dropdown menu*/
.showMenu {
  display: block;
}

.dropdown_open_style {
  color: #ffffff;
}





